{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="t-body" style="margin:0;">
	<!--allrecords-->
	<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2785924" data-tilda-page-id="13075111" data-tilda-page-alias="error" data-tilda-formskey="6c790f18446e8e8a98cef8a9b4676e4c">
		<div id="rec217431134" class="r t-rec" style=" " data-animationappear="off" data-record-type="327">
			<!-- T282 -->
			<div id="nav217431134marker"></div>
			<div id="nav217431134" class="t282 " data-menu="yes" data-appearoffset="">
				<div class="t282__container t282__positionabsolute" style="">
					<div class="t282__container__bg" style="background-color: rgba(0,0,0,0.0); " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,0.0)" data-navmarker="nav217431134marker" data-appearoffset="" data-bgopacity="0.0" data-menu-shadow="0px 1px 3px rgba(0,0,0,0.)"></div>
					<div class="t282__container__bg_opened" style="background-color:#ebebeb;"></div>
					<div class="t282__menu__content t282__col-12">
						<div class="t282__logo__container" style="height:120px;">
							<div class="t282__burger"> <span style="background-color:#ffffff;"></span> <span style="background-color:#ffffff;"></span> <span style="background-color:#ffffff;"></span> <span style="background-color:#ffffff;"></span> </div>
						</div>
					</div>
				</div>
				<div class="t282__menu__container t282__closed">
					<div class="t282__menu__wrapper" style="background-color:#ebebeb;">
						<div class="t282__menu">
							<div class="t282__menu__items"> <a class="t282__menu__item t-heading t-heading_md t-menu__link-item" href="http://alenavoyush.tilda.ws" data-menu-submenu-hook="" style="color:#000000;">О себе</a> <a class="t282__menu__item t-heading t-heading_md t-menu__link-item" href="portfolio" data-menu-submenu-hook="" style="color:#000000;">Портфолио</a> <a class="t282__menu__item t-heading t-heading_md t-menu__link-item" href="contacts" data-menu-submenu-hook="" style="color:#000000;">Контакты</a> <a class="t282__menu__item t-heading t-heading_md t-menu__link-item" href="prices" data-menu-submenu-hook="" style="color:#000000;">Цены и услуги </a> <a class="t282__menu__item t-heading t-heading_md t-menu__link-item" href="video" data-menu-submenu-hook="" style="color:#000000;">Видео</a> </div>
						</div>
					</div>
				</div>
				<div class="t282__overlay t282__closed"></div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					t282_showMenu('217431134');
					t282_changeSize('217431134');
					t282_highlight();
				});
				$(window).resize(function() {
					t282_changeSize('217431134');
				});
			</script>
			<script type="text/javascript">
				$(document).ready(function() {
					setTimeout(function() {
						t_menusub_init('217431134');
					}, 500);
				});
			</script>
			<style>
				@media screen and (max-width: 980px) {
					#rec217431134 .t-menusub__menu .t-menusub__link-item {
						color: #000000 !important;
					}
					#rec217431134 .t-menusub__menu .t-menusub__link-item.t-active {
						color: #000000 !important;
					}
				}
			</style>
			<!--[if IE 8]><style>#rec217431134 .t282__container__bg { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}</style><![endif]-->
		</div>
		<div id="rec217430315" class="r t-rec" style=" " data-animationappear="off" data-record-type="396">
			<!-- T396 -->
			<style>
				#rec217430315 .t396__artboard {
					height: 850px;
					background-color: #000000;
				}
				
				#rec217430315 .t396__filter {
					height: 850px;
				}
				
				#rec217430315 .t396__carrier {
					height: 850px;
					background-position: center center;
					background-attachment: scroll;
					background-size: cover;
					background-repeat: no-repeat;
				}
				
				@media screen and (max-width: 1199px) {
					#rec217430315 .t396__artboard {}
					#rec217430315 .t396__filter {}
					#rec217430315 .t396__carrier {
						background-attachment: scroll;
					}
				}
				
				@media screen and (max-width: 959px) {}
				
				@media screen and (max-width: 639px) {}
				
				@media screen and (max-width: 479px) {}
				
				#rec217430315 .tn-elem[data-elem-id="1596475642524"] {
					color: #ffffff;
					z-index: 1;
					top: 40px;
					left: calc(50% - 600px + 486px);
					width: 229px;
				}
				
				#rec217430315 .tn-elem[data-elem-id="1596475642524"] .tn-atom {
					color: #ffffff;
					font-size: 100px;
					font-family: 'makeup', Arial, sans-serif;
					line-height: 1.55;
					font-weight: 400;
					background-position: center center;
					border-color: transparent;
					border-style: solid;
				}
				
				@media screen and (max-width: 1199px) {
					#rec217430315 .tn-elem[data-elem-id="1596475642524"] {
						top: 40px;
						left: calc(50% - 480px + 366px);
					}
				}
				
				@media screen and (max-width: 959px) {
					#rec217430315 .tn-elem[data-elem-id="1596475642524"] {
						top: 40px;
						left: calc(50% - 320px + 206px);
					}
				}
				
				@media screen and (max-width: 639px) {
					#rec217430315 .tn-elem[data-elem-id="1596475642524"] {
						top: 30px;
						left: calc(50% - 240px + 660px);
					}
				}
				
				@media screen and (max-width: 479px) {
					#rec217430315 .tn-elem[data-elem-id="1596475642524"] {
						top: 20px;
						left: calc(50% - 160px + 46px);
					}
				}
				
				#rec217430315 .tn-elem[data-elem-id="1596475683197"] {
					color: #ffffff;
					z-index: 2;
					top: 185px;
					left: calc(50% - 600px + 520px);
					width: 161px;
				}
				
				#rec217430315 .tn-elem[data-elem-id="1596475683197"] .tn-atom {
					color: #ffffff;
					font-size: 43px;
					font-family: 'makeup', Arial, sans-serif;
					line-height: 1.55;
					font-weight: 400;
					background-position: center center;
					border-color: transparent;
					border-style: solid;
				}
				
				@media screen and (max-width: 1199px) {
					#rec217430315 .tn-elem[data-elem-id="1596475683197"] {
						top: 185px;
						left: calc(50% - 480px + 400px);
					}
				}
				
				@media screen and (max-width: 959px) {
					#rec217430315 .tn-elem[data-elem-id="1596475683197"] {
						top: 185px;
						left: calc(50% - 320px + 240px);
					}
				}
				
				@media screen and (max-width: 639px) {
					#rec217430315 .tn-elem[data-elem-id="1596475683197"] {
						top: 175px;
						left: calc(50% - 240px + 694px);
					}
				}
				
				@media screen and (max-width: 479px) {
					#rec217430315 .tn-elem[data-elem-id="1596475683197"] {
						top: 165px;
						left: calc(50% - 160px + 80px);
					}
				}
				
				#rec217430315 .tn-elem[data-elem-id="1596475732696"] {
					color: #ffffff;
					z-index: 3;
					top: 230px;
					left: calc(50% - 600px + 455px);
					width: 290px;
				}
				
				#rec217430315 .tn-elem[data-elem-id="1596475732696"] .tn-atom {
					color: #ffffff;
					font-size: 27px;
					font-family: 'makeup', Arial, sans-serif;
					line-height: 1.55;
					font-weight: 400;
					background-position: center center;
					border-color: transparent;
					border-style: solid;
				}
				
				@media screen and (max-width: 1199px) {
					#rec217430315 .tn-elem[data-elem-id="1596475732696"] {
						top: 230px;
						left: calc(50% - 480px + 335px);
					}
				}
				
				@media screen and (max-width: 959px) {
					#rec217430315 .tn-elem[data-elem-id="1596475732696"] {
						top: 230px;
						left: calc(50% - 320px + 175px);
					}
				}
				
				@media screen and (max-width: 639px) {
					#rec217430315 .tn-elem[data-elem-id="1596475732696"] {
						top: 220px;
						left: calc(50% - 240px + 629px);
					}
				}
				
				@media screen and (max-width: 479px) {
					#rec217430315 .tn-elem[data-elem-id="1596475732696"] {
						top: 210px;
						left: calc(50% - 160px + 15px);
					}
				}
			</style>
			<div class='t396'>
				<div class="t396__artboard" data-artboard-recid="217430315" data-artboard-height="850" data-artboard-height_vh="" data-artboard-valign="center" data-artboard-ovrflw="">
					<div class="t396__carrier" data-artboard-recid="217430315"></div>
					<div class="t396__filter" data-artboard-recid="217430315"></div>
					<div class='t396__elem tn-elem tn-elem__2174303151596475642524' data-elem-id='1596475642524' data-elem-type='text' data-field-top-value="40" data-field-top-res-960-value="40" data-field-top-res-640-value="40" data-field-top-res-480-value="30" data-field-top-res-320-value="20" data-field-left-value="486" data-field-left-res-960-value="366" data-field-left-res-640-value="206" data-field-left-res-480-value="660" data-field-left-res-320-value="46" data-field-width-value="229" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
						<div class='tn-atom' field='tn_text_1596475642524'>404</div>
					</div>
					<div class='t396__elem tn-elem tn-elem__2174303151596475683197' data-elem-id='1596475683197' data-elem-type='text' data-field-top-value="185" data-field-top-res-960-value="185" data-field-top-res-640-value="185" data-field-top-res-480-value="175" data-field-top-res-320-value="165" data-field-left-value="520" data-field-left-res-960-value="400" data-field-left-res-640-value="240" data-field-left-res-480-value="694" data-field-left-res-320-value="80" data-field-width-value="161" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
						<div class='tn-atom' field='tn_text_1596475683197'>Ошибка</div>
					</div>
					<div class='t396__elem tn-elem tn-elem__2174303151596475732696' data-elem-id='1596475732696' data-elem-type='text' data-field-top-value="230" data-field-top-res-960-value="230" data-field-top-res-640-value="230" data-field-top-res-480-value="220" data-field-top-res-320-value="210" data-field-left-value="455" data-field-left-res-960-value="335" data-field-left-res-640-value="175" data-field-left-res-480-value="629" data-field-left-res-320-value="15" data-field-width-value="290" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
						<div class='tn-atom' field='tn_text_1596475732696'>(Страница не найдена)</div>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function() {
					t396_init('217430315');
				});
			</script>
			<!-- /T396 -->
		</div>
		<div id="rec217431181" class="r t-rec" style="background-color:#111111; " data-animationappear="off" data-record-type="345" data-bg-color="#111111">
			<!-- T345 -->
			<div class="t345" id="footer_217431181">
				<div class="t345-wrapper" style="border-top: 1px solid;border-top-color: #292929;">
					<div class="t345-container t-container" style="height:120px;">
						<div class="t345-col t-col t-col_12">
							<div class="t345-content">
								<div class="t345-text__wrapper">
									<div class="t345-text t-descr t-descr_xxs" style="color:#ffffff;"><span style="font-weight: 600;">© All Right Reserved.</span></div>
								</div>
								<div class="t345-socials">
									<div class="t-sociallinks">
										<div class="t-sociallinks__wrapper">
											<div class="t-sociallinks__item">
												<a href="https://facebook.com" target="_blank">
													<svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
														<desc>Facebook</desc>
														<path style="fill:#ffffff;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z" />
													</svg>
												</a>
											</div>
											<div class="t-sociallinks__item">
												<a href="https://twitter.com" target="_blank">
													<svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
														<desc>Twitter</desc>
														<path style="fill:#ffffff;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76 S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926 c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367 c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077 c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109 c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084 c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789 c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375" />
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				function checkSize_217431181() {
					var content = $("#footer_217431181 .t345-text").width() + $("#footer_217431181 .t345-socials").width();
					var container = $("#footer_217431181 .t345-container").width() - 30;
					if (content > container) {
						$("#footer_217431181 .t345-container").addClass('t345-socials_block');
					} else {
						$("#footer_217431181 .t345-container").removeClass('t345-socials_block');
					}
				}
				$(document).ready(function() {
					setTimeout(function() {
						checkSize_217431181();
						$(window).resize(checkSize_217431181);
					}, 500);
				});
			</script>
		</div>
	</div>
	<!--/allrecords-->
	<!-- Tilda copyright. Don't remove this line -->
	<!-- Stat -->
	<script type="text/javascript">
		if (!window.mainTracker) {
			window.mainTracker = 'tilda';
		}(function(d, w, k, o, g) {
			var n = d.getElementsByTagName(o)[0],
				s = d.createElement(o),
				f = function() {
					n.parentNode.insertBefore(s, n);
				};
			s.type = "text/javascript";
			s.async = true;
			s.key = k;
			s.id = "tildastatscript";
			s.src = g;
			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else {
				f();
			}
		})(document, window, 'bfbfde6b77faf12e74d969fdfc2675c8', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
	</script>
</body>

{% endblock %}